@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

/* Default for larger screens */
html {
  font-size: 16px; /* 1rem = 16px */
}

/* Adjust for small screens */
@media (max-width: 640px) {
  html {
    font-size: 13px; /* 1rem = 10px */
  }
}
